# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
*.sqlite3